.NavBar{
  background-color: green;
  width: 100px;
  height: 100px;
}
#triangle {
  position: absolute;
  width: 95vw;
  height: 1557.05px;
  z-index: 2;
}
#pupil{
  width: 95vw;
  height: 1557.05px;
  position: absolute;
  z-index: 0;
}
#iris{
  position: absolute;
  top: 25%;
  left: 0%;
  z-index: 1;
  width: 95vw;
  height: 1200px;
}
